

.header{
    text-align: center;
    color: black;
}
.discription{
    text-align: center;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: green;
    color: black;
}

.class-table{
    padding: 1rem;
    margin: 1rem;
    color: black;
    text-align: center;
}
