@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Macondo&family=Oleo+Script+Swash+Caps&family=Signika+Negative:wght@500;600&display=swap');
body{
    font-family:  'Signika Negative', sans-serif; 
  margin: auto;
   background-color: green;
   
}
.header{
    text-align: center;
    color: black;
}
.discription{
    text-align: center;
    color:black;
    font-size: larger;
   
}
#bill-amount{
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
   padding: 0.5rem;
   margin: auto;
}
#cash-given{
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
   padding: 0.5rem;
   margin: auto;
}
.container{
    display: block;
    text-align: center;
    /* border: 1px solid black;
    border-radius: 2rem; */
   padding: 0.5rem;
   margin: auto;
}
#check-button{
    border: 1px solid black;
    background-color: white;
    padding: 0.7rem;
 margin: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.class-table{
    padding: 1rem;
    margin: auto;
    text-align: center;
  
    
    border: 2px solid black;
    border-radius: 1rem;
    color: black;
  
  
}

.footer{
border-radius: 1rem;
margin-top: 5rem;
   padding: 1rem;
  text-align: center;
    background-color: 
    #166534;
}

.list-non-bullet{
    list-style: none;

   
}

.list-item-inline{
    display: inline;

margin: 1rem;

 font-size: 17px;
 text-align: center;
 padding: 1rem 1rem;


}
